SERVER = u"burdakov.pp.ru"
USER = u"freq2"
RESOURCE = "_"
PASSWD = u"secret"
ADMINS = ["pg@burdakov.pp.ru", "pg@jabbus.org"]
NICK = "Re-2"
LOGFILE = "./log.html"
LOGLEVEL = 0
ERRLOGFILE = "./err.html"
LANG = "ru"
STATUS = u'Hello, i am online!'
SVNVERSION = '/usr/local/bin/svnversion -n'
MSGLIMIT = 400
PIDFILE = './freq.pid'
ENABLE_SQLITE = 0

